setuptools
pyaudio
SpeechRecognition
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchaudio
torchinfo
numpy
git+https://github.com/openai/whisper.git
av
aiohttp
aiohttp_cors
aiortc
httpx
yamlargparse
soundfile
librosa
pydub
pesq
einops
rotary-embedding-torch
huggingface-hub
speechbrain==1.0.2